<div class="container">
  <span class="header">Pizzaria Horácio</span>
  <div id="container_demo">
    <div id="wrapper">
      <div id="comanda">
        <h1>COMANDA</h1>
        <form>

          <p>
            <label>Chopp</label>
            <input type="text" name="inChopp" FromControlName="chopp"/>
          </p>

          <p>
              <label>Pizzas</label>
              <input type="text" name="inPizzas" formControlName="pizzas"/>
            </p>

            <p>
                <label>Recheios</label>
                <input type="text" name="inRecheios" formControlName="recheios"/>
              </p>

              <p>
                  <label>Pessoas</label>
                  <input type="text" name="inPessoas" formControlName="pessoas"/>
                </p>

                <p class="keepcomanda">
                  <input type="checkbox" name="inServico" formControlName="taxa"/>
                  <label>Taxa de Serviço</label>
                </p>

                <p class="comanda button">
                  <input type="submit" value="registrar"/>
                 </p>

        </form>

        <p class="about">Rogério de Araujo e Vinicius Lira</p>
      </div>
    </div>
  </div>
</div>